.our-logos img{
    display: inline-block;
}

.intro-section{
    padding: 5rem 0 0 0;
}
/* 
.technitia-logo{
    height: 120px; 
    width:auto; 
    float: left; 
} */

@media (max-width: 770px){
    .our-logos .img{
        height:50%;
        display: inline-block;
    }
}

@media (max-width: 580px){
    .our-logos .img{
        height:30%;
        display: block;
    }
}
@media (max-width: 580px){
    .our-logos .img{
        height:30%;
        display: block;
    }
}

